#body{
    background-color:maroon
}
.crimmz h1{
    font-size: 100px;
    color: black;
}
                                                                                    .carousel-inner{
                                                                                    height: 340px;
                                                                                    }


                                                                                    .woble{
                                                                                    padding: 20px;

                                                                                    }

                                                                                    .index {
                                                                                    column-count: 2;
                                                                                    column-gap: 10px;
                                                                                    margin-top: 3%;
                                                                                    
                                                                                    }
                                                                                    .carousel-caption {
                                                                                    bottom: 10%;
                                                                                    }

                                                                                /* END OF IMAGE DISPLAY STYLER */

/* */
                                                                                /* BUTTONS USED */
                                                                                    .buttonsearch{
                                                                                    margin-left: -20%;
                                                                                    margin-top: -2%;
                                                                                    color: black;
                                                                                    font-family: "proxima noma";
                                                                                        }

                                                                                    .searching{
                                                                                    margin-left: -13%;
                                                                                    margin-top: -6%;
                                                                                    color: black;
                                                                                    border-radius: 50px;
                                                                                        }

                                                                                    .searchbutton{
                                                                                    background-color: black;
                                                                                    border-radius: 10px;
                                                                                    color: white;
                                                                                    padding-left: 20px;
                                                                                    padding-right: 20px;
                                                                                    text-align: center;
                                                                                    opacity: 0.6;
                                                                                    }

                                                                                    .searchbutton :hover{
                                                                                    background-color: red;
                                                                                    border-radius: px;
                                                                                    color: white;
                                                                                    text-align: center;
                                                                                    opacity: 1;
                                                                                    }


                                                                                /* END OF BUTTON DISPLAY */

/*  */
                                                                                /* VIEW DETAIL BUTTON */

                                                                                    .modalbtn{
                                                                                    border: none;
                                                                                    padding: 17px;
                                                                                    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
                                                                                    cursor: pointer;
                                                                                    display: block;
                                                                                    
                                                                                    border: 2px solid greenyellow;
                                                                                    width: 190px;
                                                                                    height: 45px;
                                                                                    position: absolute;
                                                                                    transform: translate(-50%, -50%);
                                                                                    text-align: center;
                                                                                    text-transform: uppercase;
                                                                                    letter-spacing: .08em;
                                                                                    font-weight: bold;
                                                                                    margin-top: 40%;
                                                                                    text-decoration: none;
                                                                                    margin-left: 70%;
                                                                                    color: greenyellow;
                                                                                    background-color: rgba(255, 255, 255, 0.3);

                                                                                    }

                                                                                    p.modalbtn :hover{
                                                                                    text-decoration: none;
                                                                                    }

                                                                                    p.modalbtn{
                                                                                    color: white;
                                                                                    padding-top: 3%;
                                                                                    }
                                                                                    .modalbtn:p{

                                                                                    color: white;
                                                                                    font-size: 20px;
                                                                                    margin-top: -5px;
                                                                                    text-decoration: none;
                                                                                    }

                                                                                    .modalbtn:hover p{
                                                                                    color:white;
                                                                                    opacity: 0.5;
                                                                                    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
                                                                                    text-decoration: none;
                                                                                    }

                                                                                    .modalbtn:hover:before{
                                                                                    left:0%;
                                                                                    right: auto;
                                                                                    width: 100%;
                                                                                    text-decoration: none;
                                                                                    }

                                                                                    .modalbtn:before{
                                                                                    display: block;
                                                                                    position: absolute;
                                                                                    top: 0px;
                                                                                    right: 0px;
                                                                                    height: 100%;
                                                                                    width: 0px;
                                                                                    z-index: -1;
                                                                                    content: '';
                                                                                    color: white !important;
                                                                                    background: greenyellow;
                                                                                    opacity: 0.7;
                                                                                    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)0s;
                                                                                    text-decoration: none;
                                                                                    }

                                                                                                        /* END OF VIEW DETAIL BUTTON */

/*  */
                                                                            /* MEDIA QUERIES */
                                                                                @media (max-width: 1112px) {
                                                                                    .index {
                                                                                    column-count: 2;
                                                                                    column-gap: 10px;
                                                                                    margin-top: 3%;
                                                                                    }

                                                                                    .buttonsearch{
                                                                                    margin-left: -23%;
                                                                                    margin-top: -2%;
                                                                                }

                                                                                    .searching{
                                                                                    margin-left: -20%;
                                                                                    margin-top: 0%;
                                                                                    }
                                                                                    
                                                                                }
                                                                            
                                                                                @media (max-width: 850px) {
                                                                                    p.categ{
                                                                                        margin-top: -10%;
                                                                                    }
                                                                                    
                                                                                    .woble{
                                                                                        margin-top: 20%;
                                                                                        padding: 15%;
                                                                                    }
                                                                                    .buttonsearch{
                                                                                    margin-left: -29%;
                                                                                    margin-top: -3%;
                                                                                }

                                                                                    p.modalbtn{
                                                                                    padding-top: 1%;
                                                                                    padding-left: 5%;
                                                                                    }
                                                                                    .modalbtn{
                                                                                    margin-left: 50%;
                                                                                    margin-top: 15%;
                                                                                    font-size: 15px;
                                                                                    width: 150px;
                                                                                    height: 30px;
                                                                                    white-space: nowrap;
                                                                                    }
                                                                                    .searching{
                                                                                    margin-left: -20%;
                                                                                    margin-top: -15%;
                                                                                    }
                                                                                
                                                                                }


                                                                                @media (max-width: 700px) {
                                                                                    .categ{
                                                                                        margin-top: -20%;
                                                                                    }

                                                                                    .woble{
                                                                                        margin-top: -30%;
                                                                                        padding: 15%;
                                                                                    }
                                                                                    .index {
                                                                                    column-count: 1;
                                                                                    column-gap: 10px;
                                                                                    margin-top: 3%;
                                                                                    }
                                                                                    p.modalbtn{
                                                                                    padding-top: 7px;
                                                                                    padding-left: 18px;
                                                                                    }
                                                                                    .modalbtn{
                                                                                    margin-left: 30%;
                                                                                    margin-top: 25%;
                                                                                    font-size: 10px;
                                                                                    width: 120px;
                                                                                    height: 30px;
                                                                                    white-space: nowrap;
                                                                                    
                                                                                    }
                                                                                    .searching{
                                                                                        display: none;
                                                                                    }
                                                                                    .categr{
                                                                                        display: none;
                                                                                    }
                                                                                }

                                                                                @media (max-width: 450px) {

                                                                                    .woble{
                                                                                        margin-top: -70%;
                                                                                        padding-bottom: 65%;
                                                                                    }
                                                                                    p.modalbtn{
                                                                                    padding-top: 7px;
                                                                                    padding-left: 8px;
                                                                                    }
                                                                            /* END OF MEDIA QUERIES */

/* ########################################################################################################################################################### */

.masthead {
  background-attachment: fixed;
}

.index {
  column-count: 2;
  column-gap: 10px;
  margin-top: 3%;
  
}

.navbar-default {
    border: 5;
    font-weight: bold;
    padding: 3px;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: black; /*Sets the text hover color on navbar*/
}

.navbar-default {
    background-color: #acabaf;
}

.navbar-default .navbar-nav > li > a {
    color: green; /*Change active text color here*/
}

.head{
  background-image: url( '/static/images/home-pic13.jpg') !important;
  background-attachment: fixed; 
  margin-top: 10%;
  padding-top: 30%;
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: -17%;
  margin-right: -15%;
}

.headfont{
color: white;
margin-top: -2%;
font-size: 30;
font-family: 'Unlock', cursive;
}

.headsub{
color: white;
margin-top: 5%;
font-family: 'Unlock', cursive;

}

.buttonsearch{
margin-left: -14%;
margin-top: -5%;
}

.searching{
margin-left: 40%;
margin-top: -15%;
}

/* For instagram display padding-bottom 20% */
.woble{
  
  padding: 20px;
  padding-bottom: 70px;

}

.searchres{
  column-count: 3;
  column-gap: 10px;
  margin-top: 3%;
  height: auto;
  width: auto;
  
}













/* Image Display */
 IMage REsponsive Display also Has similar properties with bootstrap class (img-responsive) 


.imagedisplay{
  display: block;
  max-width: 100%;
  height: auto;
}

.viewde{
  font-size:  0.5px;
  color:  rgb(241, 249, 250);
}


/* The Modal (background) */
.modal {
     /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}










/* 
btnsel{
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #66ff66;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;

}

viewdetails{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

