{% extends 'base.html' %}
{% load bootstrap3 %} {% load static %}
{% block content %}

<div class="body">
    <div class="headfont text-center crimmz" style="font-size: 500px;  padding: 0%; margin-bottom: -12%">
    <h1 style="font-size: 50px">CRIMMZ-GALERIE</h1>
    <h2 style="font-size: 50px">Best pics in town</h2>
    </div>

    <!-- IMAGE SLIDER -->

        <div id="myCarousel" class="carousel slide" dataride="carousel">

            <div class="carousel-inner" role="listbox">

            <!-- FIRST IMAGE ON CAROUSEL -->
                <div class="container">
                <div class="item active">
                    <!-- <img src="{% static 'images/pic1.jpg'%}" style="width: 130%; margin-left: -15%; height: 100%;" alt=""> -->
                </div>

                <div class="carousel-caption">

                    <div class="row">
                        <!-- Instead you can use boot strap class "masthead" -->
                        <header class="head">

                            <!-- Search Form -->

                            <div class="container">
           
                  <form class="searching" role="search" action="{% url 'search_results' %}">
                                    <input type="text" class="qWUF0" data-test="feed-header-search-form-input" name="category" id="FEED_HEADER_SEARCH_INPUT"
                                        placeholder="Search Category! " required="">

                                    <div class="buttonsearch">
                                        <button title="Search" data-test="feed-header-search-form-button" class="searchbutton" type="submit">
                                            <span class="_2yArQ">Search</span>
                                        </button>
                                </form>

                                </div>


                                <div class="headfont">
                                    <!-- Title -->
                                </div>
                                <div class="headsub">
                                    <!-- Sub-titile -->
                                </div>

                        </header>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <div categ>
        <p class="categr" style="font-size:10px; text-align: center;">
            <strong>Categories include;</strong> City, suits and kicks,</p>
    </div>

    <!--END OF IMAGE SLIDER -->
    <div class="container-fluid" style="background-color:maroon" ;>
    <!-- displaying images -->
    <div class="row">
        {% for post in images %}

        <div class="col-md-3">
            <!-- modal button -->
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal{{post.id}}">
                <img src="{{post.image.url }}" alt="" width="300" height="300">
                <p>{{ post.image_name }}</p>
            </button>
            <br>

            <!-- modal -->
        </div>

        <!-- modal content -->
    <div class="modal" id="myModal{{post.id}}" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img src="{{post.image.url }}" alt="" width="500" height="500">
                <h4 class="modal-title">{{ post.description }}</h4>
                <h4>{{post.name}}</h4>
            </div>

            <div class="modal-body">
                {% for category in post.image_category.all %}
                <p class="xx" style="font-family: 'Srisakdi', cursive;">Category: {{ category.name }}</p>
                <p>Location: {{ post.location }}</p>
                {% endfor %}
            </div>

</div>
</div>
</div>

        {% endfor %}
    </div>
</div>



{% block styles%} {% bootstrap_css %} {% endblock %}
{% endblock %}